.center-wrapper {
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.playlist-card {
  width: 420px;
  padding: 35px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  background: rgba(255, 255, 255, 0.20);
  backdrop-filter: blur(16px);
  border-radius: 16px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.25);
  color: white;
}

.playlist-card h2 {
  text-align: center;
  margin-bottom: 10px;
}

.playlist-card input,
.playlist-card textarea {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 15px;
}

.playlist-card textarea {
  height: 90px;
  resize: none;
}

.playlist-card button {
  padding: 12px;
  background: #007bff;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.25s;
}

.playlist-card button:hover {
  background: #005fcc;
}
